.label {
  display: block;
  position: relative;
  width: 44px;
  height: 24px;
  background-color: green;
  border-radius: 50px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50%;
  }
}

.input:checked + .label::before {
  left: auto;
  right: 4px;
}
