.card {
  width: 243px;
  height: 332px;
  border-radius: 16px;
  // box-shadow: 0px 8px 16px var(--colors-shadow);
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  height: 239px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoWrapper {
  min-height: 93px;
  background-color: var(--colors-white);
  padding: 16px 20px 17px 16px;
}


.date {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: var(--colors-gray-700);
  opacity: 0.7;
  margin: 0;
}

.description {
  display: flex;
}

.descriptionText {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--colors-gray-400);
  opacity: 0.4;
  margin: 0;
  margin-top: 6px;
}

.descriptionIcon {
  width: 30px;
  height: 30px;
  background-color: bisque;
  margin-left: auto;
}