
.switcherWrapper {
  height: 24px;
  display: flex;
  position: fixed;
  top: 100px;
  right: 100px;
}

.themeButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-style: none;
  margin-right: 5px;
  background-color: var(--colors-switch-bg);
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.themeButtonLight {
  background-image: url('../../assets/icons/eye-open.svg');
  background-size: 16px 12px;
}

.themeButtonDark {
  background-image: url('../../assets/icons/eye-close.svg');
  background-size: 16px 8px;
}
