@import url('./styles/styles.scss');

html {
  height: 100%;
}

body {
  margin: 0;  
  font-family: 'Open Sans', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}